<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>CuentaUsuarioServlet</servlet-name>
    <servlet-class>com.gabloz.servlet.CuentaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuentaUsuarioServlet</servlet-name>
    <url-pattern>/CuentaUsuario</url-pattern>
  </servlet-mapping>

  <!-- welcome page -->
  <welcome-file-list>
    <welcome-file>inicioMobil</welcome-file>
  </welcome-file-list>

</web-app>
